# OS / editor
.DS_Store
.vscode/
.idea/

# .NET build outputs (plugins/functions later)
**/bin/
**/obj/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*

# Local backups
powerplatform/solutions/*_backup_*/

# Ignore local solution backups
powerplatform/solutions/*_backup_*/
